body {
    margin: unset;
    width:100%;
}

ul {
    margin:unset;
}
.services {
    width:100%;
}

h2{
    color: white;
    margin: unset;
    padding: 1%;
    height: 2vh;
}

.networkWiring{
background: blue;
}

.tvMounting{
    background: gray; 
}

.tdWiring{
    background:orange;
}

.collapse{
    height:0px !important;
    overflow:hidden;
    display:none;
    padding-top:unset !important;
}
.details{
    display:block;
    color:black;
    background: white;
    padding-left:1.5%;
    transition:1s;
    height:81.47vh;
    overflow:hidden;
    padding-top: 1vh;
}