html{
    background:black;
}
body {
    margin: unset;
    width:100vh;
}

ul {
    margin:unset;
}
.services {
    width:100vw;
    text-align: center;
}

h2{
    color: white;
    margin: unset;
    padding-top: calc(0.01*100vh);
    padding-bottom: calc(0.01*100vh);
    padding-left: calc(0.01*100vw);
    padding-right: calc(0.01*100vw);
    height: calc(0.02*100vh);
}

.networkWiring{
background: #0078b9;
}

.tdWiring{
    background:#005c8e;
}


.tvMounting{
    background: #004c75; 
}


.collapse{
    height:0px !important;
    overflow:hidden;
    display:none;
    padding-top:unset !important;
}
.details{
    display:block;
    color:white;
    background: inherit;
    padding-left:calc(0.02*100vw);
    transition:1s;
    height:calc(0.79*100vh);
    overflow:hidden;
    padding-top: calc(0.01*100vh);
}

#home{
    background: #008bd6;
}

.contact{
    background: #002f48
}